.env
.env.*
config.*.env

server/config/env/*.env*
client/src/config/env/*.env*

node_modules/
build/
dist/
server/uploads/

# Documentation
docs/repository-structure.md

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- EXCEPTIONS ---
!**/env/*.env.example
!**/.env.example