NODE_ENV=
LOG_API_REQUESTS=
TRUST_PROXY=false

# LOCALHOST
PORT=3000
API_BASEURL=/api/v2
API_FULL_URL=http://localhost:3000/api/v2

# DEV DATABASE
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

# RESEND
RESEND_API_KEY=

# CLOUDINARY
CLOUDINARY_SECURE_DELIVERYURL=
CLOUDINARY_API_BASEURL=
CLOUDINARY_URL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=